@import '~@angular/material/theming';

.scraping-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex-wrap: nowrap;

  color: #e0e0e0;
  background-color: #212121;
}

.example-form-field {
  width: 200px;
}

.no-company {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
}
