.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  h2 {
    margin-right: 12px;
  }
}

.page-header:first-child {
  margin-right: 12px;
}

clr-dg-cell {
  span {
    margin-right: 10px;
  }
}
