.import-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 8px;
  height: 250px;

  .drop-zone-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    outline: 2px dashed #e1e1e1;
    height: 200px;
    width: 100%;
    cursor: pointer;
  }
}
