<div class="main-container">
  <!-- <div class="alert alert-app-level"></div> -->
  <header class="header-7">
    <div class="branding">
      <a routerLink="/" class="nav-link">
        <clr-icon shape="employee-group" class="is-solid"></clr-icon>
        <span class="title">Scrapur</span>
      </a>
    </div>
    <div class="header-nav">
      <a routerLink="/companies" routerLinkActive="active" class="nav-link"
        ><span class="nav-text">Dashboard</span></a
      >
      <a routerLink="/inspect" routerLinkActive="active" class="nav-link"
        ><span class="nav-text">Inspect</span></a
      >
    </div>
  </header>
  <!-- <nav class="subnav"></nav> -->
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <!-- <nav class="sidenav"></nav> -->
  </div>
</div>
